<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/multiplicador"></ion-back-button>
    </ion-buttons>
    <ion-title>Tabla del #{{numero}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-list-header lines="full">
      <ion-label>
        Tabla del #{{numero}}
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let num of hastaNumeroList">
      <ion-label> {{numero}} x {{num}} = {{numero*num}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>