<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Traductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <!-- https://www.npmjs.com/package/numero-a-letras -->
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-text>
          <ion-label>
            Numeros
          </ion-label>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="swap-horizontal"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-text>
          <ion-label>
            Letras
          </ion-label>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Numero</ion-label>
            <ion-input placeholder="Ingrese el numero a convertir" type="number"></ion-input>
          </ion-item>
          <ion-fab horizontal="end" vertical="center" slot="fixed">
            <ion-fab-button color="primary">
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Letras</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Numero</ion-label>
      <ion-input placeholder="Ingrese el numero a convertir" type="number"></ion-input>
    </ion-item>
    <ion-fab horizontal="end" vertical="center" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Letras</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>