<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Multiplicador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Multiplicar</ion-label>
      <ion-input placeholder="Ingrese el numero a multiplicar" type="number" [(ngModel)]="multiplicado"></ion-input>
    </ion-item>
    <ion-fab horizontal="end" vertical="center" slot="fixed">
      <ion-fab-button color="primary" (click)="clicando()">
        <!-- <ion-icon name="calculator-outline"></ion-icon> -->
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <ion-button expand="block">Multiplicar</ion-button> -->
    <!-- <ion-item>
      <ion-label>Number Input</ion-label>
      <ion-input placeholder="placeholder" type="number"></ion-input>
    </ion-item> -->
  </ion-list>
</ion-content>