<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-img src="../../assets/img/personal-pic.JPG"></ion-img>
  <ion-text color="primary">
    <h1>Elian Manuel Toribio Germosen</h1>
    <p>2019-8498</p>
    <p><a href="mailto:elianmtoribio@gmail.com">elianmtoribio@gmail.com</a></p>
  </ion-text>
  <!-- <ion-item>
    <ion-label>
      Elian Manuel Toribio Germosen
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      2019-8498
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      elianmtoribio@gmail.com
    </ion-label>
  </ion-item> -->
</ion-content>